.logo-link {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  margin-right: 93px;
}

.logo-part-white-theme {
  color: var(--header-logo-color);
}

.logo-part-dark-theme {
  color: var(--third-color);
}
